<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigilantes da Floresta - Sobre</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            position: relative;
            margin-left: 3vw;
            margin-right: 3vw;
            text-align: justify;
        }
    </style>
</head>
<body>
    <h1>Vigilantes da Floresta</h1>
    <img src="/img/jogo_vigilantes.png" alt="">
    <div>
        <br>
As florestas e os biomas brasileiros têm sido assunto recorrente nos meios de imprensa mundiais
devido ao crescimento do número de incêndios nessas regiões. Um debate sobre a causalidade dos incêndios
pairou sobre a sociedade. <br>
A partir deste cenário, o jogo Vigilantes da Floresta foi criado para dar ênfase no problema e incentivar
a sociedade civil a se mobilizar e enfretar os focos de incêndio.
    </div>
</body>
</html>