<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigilantes da Floresta - Jogo</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div><i class="fas fa-heading"></i>Header<i class="fas fa-heading"></i></div>
    {{{body}}}
    <div><i class="fas fa-shoe-prints"></i>Footer<i class="fas fa-shoe-prints"></i></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>