@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./styles.scss";