.sobre {
    position: relative;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

form [type="submit"] {
    margin-bottom: 20px;
}

.invalid-feedback {
    display: block;
}

.butaofim {
    margin-bottom: 20px;
}

.options {
    text-align: right;
}
.options a {
    padding-left: 6px;
}
