.sobre {
    position: relative;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}