.texto.toggle>span {
  color: blueviolet;
}
.texto.toggle {
  color: maroon;
}
.texto>span {
  color: greenyellow;
}
.texto {
  font-weight: bolder;
  text-align: center;
  text-shadow: 0 1px 0 #cccccc, 
  0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 
  0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 
  0 6px 1px rgba(0, 0, 0, 0.1), 
  0 0 5px rgba(0, 0, 0, 0.1), 
  0 1px 3px rgba(0, 0, 0, 0.3), 
  0 3px 5px rgba(0, 0, 0, 0.2), 
  0 5px 10px rgba(0, 0, 0, 0.25), 
  0 10px 10px rgba(0, 0, 0, 0.2), 
  0 20px 20px rgba(0, 0, 0, 0.15);
  font-size: 110px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: ghostwhite;
  position: absolute;
  top: 250px;
  left: 80px;
  width: 1100px;
  z-index: 5;
}
.arvore {
  background-image: url('assets/arvore.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 54px;
  top: 0px;
  position: absolute;
  z-index: 1;
}
.placar {
  font-size: 40px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 5px;
  left: 1100px;
  z-index: 1;
}
.reserva {
  background-image: url('assets/reserva.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1243px;
  height: 960px;
  position: absolute;
  left: 0px;
  z-index: 1;
}
.fogo {
  background-image: url('assets/foco.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 130px;
  position: absolute;
  z-index: 3;
}
.caveira {
  background-image: url('assets/caveira.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 136px;
  position: absolute;
  z-index: 4;
}
.devastacao {
  background-image: url('assets/devastacao.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
}