<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Início</a></li>
  <li class="breadcrumb-item active">Jogar</li>
</ol>
<link rel="stylesheet" href="/css/vigilantes.css">
<div class="vigilantes">
    <div class="superior">
        <div class="vidas"></div>
    </div>
    <div class="jogo"></div>
</div>
<script src="/js/vigilantes.js"></script>