<ol class="breadcrumb">
  <li class="breadcrumb-item active">Início</li>
</ol>
<h3>Vigilantes da Floresta</h3>
<br>
<p>Seja bem-vindo, aventureiro. Quer começar uma partida e ver até quantos pontos você consegue chegar?</p>
<p>Então clique no botão abaixo:</p>

<a href="/game"><button type="button" class="btn btn-warning">Começar o Jogo!</button></a>

<br><br><br><br><br>